@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url('/lib/slick-1.8.1/slick/slick.css');
@import url('/lib/slick-1.8.1/slick/slick-theme.css');
/* Slick */

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff,
            0 0 19px #fff, 0 0 40px rgb(247, 30, 218), 0 0 80px rgb(247, 30, 218),
            0 0 90px rgb(247, 30, 218), 0 0 100px rgb(247, 30, 218), 0 0 150px rgb(247, 30, 218);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}




@keyframes star {
    100% {
        transform: rotate(720deg);
    }
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    /* border: 1px solid rgb(226, 161, 188);*/
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

ul,
li {
    list-style: none;
}

body {
    min-width: 1080px;
}

h1 {
    display: block;
    margin: 3em;
    text-align: center;
    color: #fff;
}

/* header기본디자인 */
header {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #000;
    z-index: 200;

}

header .inner {
    min-width: 1200px;
    max-width: 1500px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

header .inner .logo {
    width: 138px;
    height: 55px;
    background: url("../cj_night-image/cjnight_logo.png") 0 0 no-repeat;
    background-size: cover;
    /* 로고가 잘리기만 햇던건 background이니까. 그러니까 
    background-size: cover;해줘서 사이즈 조절하거나 이미지로 불러왔어야.. */
}


header .inner .mMenuBt {
    display: none;
}

header .inner .gnb {
    width: 900px;
    height: 100%;
}

header .inner .gnb .mCloseBt {
    display: none;
}

header .inner .gnb>div {
    height: 100%;
    display: flex;
    justify-content: center;

}

header .inner .gnb>div>span {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

/* subgnball */
header .inner .gnb .subgnball {
    height: 0;
    overflow-y: hidden;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 200;
    min-width: 1500px;
    width: 100%;
    color: rgb(211, 211, 211);
    background: rgba(0, 0, 0, 0.8);
}

header .inner .gnb .subgnball>ul {
    margin: 20px 0 0 625px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;

}

header .inner .gnb .subgnball>ul>li {
    width: 180px;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}

header .inner .gnb .subgnball>ul>li:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}



header .inner .gnb .subgnball>ul>li>ul {
    width: 100%;
    margin: 0 0 0 10%;

}

header .inner .gnb .subgnball>ul>li>ul>li {
    min-height: 30px;
    line-height: 28px;
    padding: 0 0 0 15px;
    /* 옆으로 20만큼 미는게 전반적으로 센터로 보임 */
    font-weight: 500;
    /* 여기 이름이 더 상세하게 줬으니까 */
    position: relative;
    /* 옆에 점찍혀있는 큰 타이틀들 */
}

.gnb .subgnball>ul>li>ul>li:hover {
    /* width: 83%; */
    height: 23px;
    background: #EFBA26;
    color: rgb(22, 33, 66);
    position: absolute;
}

header .inner .gnb .subgnball>ul>li>ul .mysub {
    height: 23px;
    background: #EFBA26;
    color: rgb(22, 33, 66);
}

/* 틀어진 첫번째문단에만 이름주고 정렬을 다시주었다 */
/* header .inner .gnb .subgnball > ul > li.on .first * {
    padding: 0 35px 0 0; //위치가 안먹어서 padding조절
    color: rgb(222, 33, 247)!important; } */

header .inner .gnb .subgnball>ul>li>ul>li>ul {
    /* margin: 0 5px 0 8px; */
    line-height: 1.3rem;
}

/* 서브페이지 만든곳만 */
header .inner .gnb .subgnball>ul>li>ul>li>ul .second,
header .inner .gnb .subgnball>ul>li>ul>li>ul>li {
    background: #a95cf1;
    color: rgb(219, 219, 219);
    cursor: pointer;
    min-height: 30px;
    line-height: 30px;
    margin: 3px 0 0 0;
}

header .inner .gnb .subgnball>ul>li>ul>li>ul>li:nth-child(2) {
    color: rgb(219, 219, 219);
}

/* inner:hover일때 상단디자인 변경 및 .subgnball */
header .inner::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    content: "";
}

header .inner:hover::after {
    background: #fff;
    transition: all 0.3s;
}

header .inner:hover .logo {
    background: url("../cj_night-image/cjnight_logo.png") 0 -59px no-repeat;
    position: relative;
    background-size: cover;
    z-index: 10;
}

header .inner:hover .gnb>div>span {
    color: #022b4d;
    position: relative;
    z-index: 10;
}

/* header .inner:hover .gnb > div > span:hover, */
.gnb>div>span:hover::before {
    width: 62%;
    height: 4px;
    top: 77px;
    left: 34px;
    content: "";
    background: #D6007F;
    display: block;
    position: absolute;
}

header .inner:hover .gnb>div>span::after {
    width: 1px;
    height: 30px;
    position: absolute;
    top: 35px;
    right: 0;
    content: "";
    background: rgba(0, 0, 0, 0.05);
}

header .inner:hover .gnb .subgnball {
    height: 380px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: height 0.5s;
}

.vertical-slider.slick-dotted {
    margin-bottom: 0;
}

.vertical-slider {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.vertical-slider .slide {
    height: 100vh;
}

.slide {
    display: block;
}

.vertical-slide.s01 {
    background: url(../cj_night-image/visual0.png)0 0 no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.vertical-slide.s01 .icon {
    content: "";
    top: 320px;
    left: 25%;
    width: 60%;
    height: 215px;
    position: absolute;
    background: url(../svg/icon.svg)0 0 no-repeat;
    background-size: contain;
}

.vertical-slide.s01 .icon>div {
    background: url(../cj_night-image/그저빛.png)50% 50% no-repeat;
    position: absolute;
    display: block;
    height: 33px;
    width: 63px;
    top: 121px;
    left: 80px;
    animation: star 3s linear infinite;
}

.vertical-slide.s01 .icon>div:nth-child(2) {
    top: 138px;
    left: 251px;
}

.vertical-slide.s01 .icon>div:nth-child(3) {
    top: 137px;
    left: 571px;
}

.vertical-slide.s01 .icon>span {
    font-size: 1.5rem;
    font-weight: 400;
    position: absolute;
    color: #fff;
    top: 260px;
    left: 550px;
}

.vertical-slide.s01::after {
    content: "";
    position: absolute;
    background: url(../image/VISUAL1.png)0 0 no-repeat;
    background-size: contain;
    height: 928px;
    width: 100%;
    left: 0;
    top: 373px;
}

.vertical-slide.s01 .b01 {
    width: 30%;
    font-size: 1.5rem;
    position: absolute;
    color: #fff;
    z-index: 20;
    top: 200px;
    left: 150px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    ;
}

.vertical-slide.s01 .b01 span {
    font-size: 1.4rem;
    color: rgb(216, 216, 216);
}

.vertical-slide.s01 .b01 span::before {
    top: -9px;
    position: absolute;
    width: 61px;
    height: 7px;
    background: #D6007F;
    /* display: block; */
    content: "";
    z-index: 20;
}

.vertical-slide.s02,
.vertical-slide.s03,
.vertical-slide.s04,
.vertical-slide.s05,
.vertical-slide.s06 {
    background-color: #040C30;
}

.slide-content {
    display: block;
    position: relative;
}

.vertical-slide.s02 .rac {
    width: 300px;
    height: 180px;
    background-color: #fff;
    top: 100px;
    left: 1250px;
    position: relative;
}

.vertical-slide.s02 .rac:nth-child(2) {
    width: 240px;
    height: 130px;
    position: relative;
    top: 279px;
    left: 1000px;
}

.vertical-slide.s02 .button {
    width: 90px;
    height: 20px;
    background-color: rgb(219, 4, 209);
    top: 125px;
    left: 1455px;
    position: relative;
}

.vertical-slide.s03 .neontxt {
    transform: translate(-60%, -60%);
    top: 300px;
    left: 400px;
    z-index: 10;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(247 30 218), 0 0 82px rgb(247 30 218), 0 0 92px rgb(247 30 218), 0 0 102px rgb(247 30 218), 0 0 151px rgb(247 30 218);
    font-family: 'Sunflower', sans-serif;
    border: 0.2rem solid #fff;
    padding: 69px 29px;
    border-radius: 50%;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.vertical-slide.s03 .neontxt .up {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vertical-slide.s03 .neontxt .down {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.vertical-slide.s03 .light {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    top: -90px;
    left: 0px;
}

.vertical-slide.s03 .light>div {
    background: url(../image/light/light.png)0 0 no-repeat;
    /* background-size: contain; */
    position: absolute;
    width: 100%;
    height: 500px;
    top: 630px;
    left: 280px;
}

.vertical-slide.s03.on .light>div {
    animation: blink-effect 1s step-end;
    animation-iteration-count: 3;
}

.vertical-slide.s03.on .light div:nth-of-type(1) {
    animation: blink-effect 1s step-start;
}

.vertical-slide.s03 .light div:nth-of-type(2) {
    background: url(../image/light/light2.png)0 0 no-repeat;
    top: 587px;
    left: 629px;
    animation-delay: .2s;

}

.vertical-slide.s03.on .light>div:nth-of-type(3) {
    background: url(../image/light/light3.png)0 0 no-repeat;
    top: 707px;
    left: 110px;
    /* animation-delay: .8s; */
}

.vertical-slide.s03.on .light>div:nth-of-type(4) {
    background: url(../image/light/light4.png)0 0 no-repeat;
    top: 482px;
    left: 739px;
    animation-delay: .3s;
}

.vertical-slide.s03.on .light>div:nth-of-type(5) {
    background: url(../image/light/light5.png)0 0 no-repeat;
    top: 579px;
    left: 980px;
    animation-delay: .8s;
}

.vertical-slide.s03.on .light>div:nth-of-type(6) {
    background: url(../image/light/light6.png)0 0 no-repeat;
    top: 421px;
    left: 930px;
    animation-delay: .4s;
}

.vertical-slide.s03.on .light>div:nth-of-type(7) {
    background: url(../image/light/light7.png)0 0 no-repeat;
    top: 303px;
    left: 1190px;
    animation-delay: 1s;
}

.vertical-slide.s03.on .light>div:nth-of-type(8) {
    background: url(../image/light/light8.png)0 0 no-repeat;
    top: 324px;
    left: 1290px;
    animation-delay: .8s;
}

.vertical-slide.s03.on .light>div:nth-of-type(9) {
    background: url(../image/light/light9.png)0 0 no-repeat;
    top: 103px;
    left: 1320px;
    animation-delay: 1.4s;
}

.neontxt .up>div:nth-child(2),
.neontxt .down>div:nth-child(1),
.neontxt .down>div:nth-child(2),
.neontxt .down>div:nth-child(5) {
    animation: flicker 1.5s infinite alternate;
}

/* 여기서부터 돌림판 */
/* .vertical-slider.slick-dotted {
    margin-bottom: 0;
}

.vertical-slider>.slick-dots {
    width: 300px;
    height: 300px;
    bottom: auto;
    top: 35%;
    left: -100px;
    transform: rotate(90deg);
    transition: transform 0.2s;
    border-radius: 50%;
    background: url(../svg/돌림판.svg)0 0 no-repeat;
    background-size: cover;
}


.slick-dots li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.slick-dots li button {
    width: 100%;
    height: 100%;
}

#slick-slide-control00 {
    transform: translate(310px, 114px);
}

#slick-slide-control01 {
    transform: rotate(-60deg) translate(310px, 114px);
}

#slick-slide-control02 {
    transform: rotate(-120deg) translate(310px, 114px);
}

#slick-slide-control03 {
    transform: rotate(180deg) translate(310px, 114px);
}

#slick-slide-control04 {
    transform: rotate(120deg) translate(310px, 114px);
}

#slick-slide-control05 {
    transform: rotate(60deg) translate(310px, 114px);
}

.slick-dots li button::before {
    color: rgba(255, 255, 255, 0.65);
    content: unset;
    font-size: 2rem;
    line-height: 1.05;
}

.slick-dots li.slick-active button::before {
    color: rgba(255, 255, 255, 1);
}

#slick-slide-control00::before {
    content: "";
}

#slick-slide-control01::before {
    content: "2016";
}

#slick-slide-control02::before {
    content: "2017";
}

#slick-slide-control03::before {
    content: "2018";
}

#slick-slide-control04::before {
    content: "2019";
}

#slick-slide-control05::before {
    content: "2020";
} */
