@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
/* Black Han Sans 폰트 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* Material Icons */
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

/* font-awsome v5.10 */
/* 프로젝트A pc 추천코스 서브페이지*/
@keyframes scrollmouse {
    100% {
        transform: translate(0, 50px);
        opacity: 0;
    }
}

/* 2)스크롤 마우스 애니메이션 키프레임 추가 */
@keyframes mapp {
    100% {
        transform: translate(-47px, -712px);
    }
}

@keyframes map {
    100% {
        transform: translate(-15px, -77px);
    }
}

@keyframes star {
    100% {
        transform: rotate(720deg);
    }
}

@keyframes scale{
    0%{transform: scale(0.5, 0.5); opacity:0.5;}
    100%{transform: scale(1.4, 1.4); opacity:0;}
}
@keyframes light{
    0%{background: rgb(206, 206, 206);}
    100%{background: rgb(238, 4, 121);}
}
@keyframes fadeInDown {
    0% {
      opacity: 0;
      size: 0.3;
      transform: translate3d(100%, -195px, 0);
    }
    50% {
      opacity: 1;
      size: 1;      
      transform: translate3d(0, -195px, 0);
    }
    100%{
        opacity: 0;
        size: 0.3;
        transform: translate3d(50%, -195px, 0);
      }}


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    /* border: 1px solid rgb(241, 201, 113); */
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

ul,
li {
    list-style: none;
}

header,
nav,
section,
footer {
    width: 100%;
}

body {
    min-width: 1580px;
}
/* top 버튼 */
body .topp {
    position: fixed;
    bottom: 30px;
    right: 5%;
    width: 50px;
    height: 50px;
    background: url("../image/top_btn.png") 50% 50% no-repeat;
    background-size: cover;
    border-radius: 50%;
    z-index: 5;
    display: none;
}
/* header기본디자인 */
header {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #000;
    z-index: 200;

}

header .inner {
    min-width: 1200px;
    max-width: 1500px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

header .inner .logo {
    width: 138px;
    height: 55px;
    background: url("../cj_night-image/cjnight_logo.png") 0 0 no-repeat;
    background-size: cover;
}

header .inner .mMenuBt {
    display: none;
}

header .inner .gnb {
    width: 900px;
    height: 100%;
}

header .inner .gnb .mCloseBt {
    display: none;
}

header .inner .gnb>div {
    height: 100%;
    display: flex;
    justify-content: center;
}

header .inner .gnb>div>span {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

/* subgnball */
header .inner .gnb .subgnball {
    height: 0;
    overflow-y: hidden;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 200;
    min-width: 1500px;
    width: 100%;
    color: rgb(211, 211, 211);
    background: rgba(0, 0, 0, 0.8);
}

header .inner .gnb .subgnball>ul {
    margin: 20px 0 0 625px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;

}

header .inner .gnb .subgnball>ul>li {
    width: 180px;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}

header .inner .gnb .subgnball>ul>li:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

header .inner .gnb .subgnball>ul>li>ul {
    width: 100%;
    margin: 0 0 0 10%;
}

header .inner .gnb .subgnball>ul>li>ul>li {
    min-height: 30px;
    line-height: 28px;
    padding: 0 0 0 15px;
    /* 옆으로 20만큼 미는게 전반적으로 센터로 보임 */
    font-weight: 500;

    /* 여기 이름이 저 상세하게 줬으니까 */
    position: relative;
    /* 옆에 점찍혀있는 큰 타이틀들 */
}

.gnb .subgnball>ul>li>ul>li:hover {
    /* width: 83%; */
    height: 23px;
    background: #EFBA26;
    color: rgb(22, 33, 66);
    position: absolute;
}
header .inner .gnb .subgnball>ul>li>ul .mysub {
    height: 23px;
    background: #EFBA26;
    color: rgb(22, 33, 66);
}

/* 틀어진 첫번째문단에만 이름주고 정렬을 다시주었다 */
/* header .inner .gnb .subgnball > ul > li.on .first * {
    padding: 0 35px 0 0; //위치가 안먹어서 padding조절
    color: rgb(222, 33, 247)!important; } */

header .inner .gnb .subgnball>ul>li>ul>li>ul {
    /* margin: 0 5px 0 8px; */
    line-height: 1.3rem;
}

/* 서브페이지 만든곳만 */
header .inner .gnb .subgnball>ul>li>ul>li>ul .second,
header .inner .gnb .subgnball>ul>li>ul>li>ul>li {
    background: #a95cf1;
    color: rgb(219, 219, 219);
    cursor: pointer;
    min-height: 30px;
    line-height: 30px;
    margin: 3px 0 0 0;
}

/* inner:hover일때 상단디자인 변경 및 .subgnball */
header .inner::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    content: "";
}

header .inner:hover::after {
    background: #fff;
    transition: all 0.3s;
}

header .inner:hover .logo {
    background: url("../cj_night-image/cjnight_logo.png") 0 -59px no-repeat;
    position: relative;
    background-size: cover;
    z-index: 10;
}

header .inner:hover .gnb>div>span {
    color: #022b4d;
    position: relative;
    z-index: 10;
}

.gnb>div>span:hover::before {
    width: 62%;
    height: 4px;
    top: 77px;
    left: 34px;
    content: "";
    background: #D6007F;
    display: block;
    position: absolute;
}

header .inner:hover .gnb>div>span::after {
    width: 1px;
    height: 30px;
    position: absolute;
    top: 35px;
    right: 0;
    content: "";
    background: rgba(0, 0, 0, 0.05);
}

header .inner:hover .gnb .subgnball {
    height: 380px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: height 0.5s;
}

/* scroll 버튼 */
.scroll {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 280px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    justify-content: space-between;
}

.scroll>span {
    width: 100%;
    display: block;
    height: 20px;
    border: 5px solid #032E55;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

/* 세로 선그어주기 */
.scroll::before {
    width: 2px;
    height: 270px;
    /* margin: 0 1px 0 0; */
    background: #032E55;
    position: absolute;
    display: block;
    content: "";
    z-index: -1;
    right: 9px;
}

.scroll>span:hover,
.scroll>span.on {
    background: #EFBA26;
}

.scroll span.on::after,
.scroll span:hover::after {
    position: absolute;
    width: 0;
    right: 20px;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #EFBA26;
    border-bottom: none;
    content: "";
}

.scroll span.on::before,
.scroll span:hover::before {
    content: "청주중앙공원";
    position: absolute;
    width: 8vw;
    padding: 10px;
    right: 35px;
    z-index: 1;
    border-radius: 15px;
    background: #EFBA26;
    color: #fff;
    font-size: 1.2rem;
}

.scroll span:nth-of-type(1).on::before {
    content: "청주중앙공원";
}

.scroll span:nth-of-type(2).on::before,
.scroll span:nth-of-type(2):hover::before {
    content: "용두사지철당간";
}

.scroll span:nth-of-type(3).on::before,
.scroll span:nth-of-type(3):hover::before {
    content: "청녕각";
}

.scroll span:nth-of-type(4).on::before,
.scroll span:nth-of-type(4):hover::before {
    content: "중앙로 소나무길";
}

.scroll span:nth-of-type(5).on::before,
.scroll span:nth-of-type(5):hover::before {
    content: "옛청주역사공원";
}


/* 여기서부터 비주얼 */
.visual {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;    
    position: relative;
    background-color: #B9BABA;
}
/* mobile back */
.visual::after {
    content: "";
    background: url(../cj_night-image/배경무늬.png)0 0 no-repeat, #B9BABA;
    background-size: cover;
    width: 100%;
    height: 90vh;
    top: 0;
    /* z-index: 1; */
    position: absolute;
    
}

.visual::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 90vh;
    top: 0;
    z-index: 2;
    position: absolute;
    display: none;
}

.visual .moblie {
    display: none;
}

.visual .b01 {
    margin: 0px 950px 410px 0;
    font-size: 1.5rem;
    position: absolute;
    color: #fff;
    line-height: 2.9rem;
    z-index: 20;
}

.visual .b01::before {
    top: -9px;
    position: absolute;
    width: 61px;
    height: 7px;
    background: #D6007F;
    /* display: block; */
    content: "";
}

.visual .b01 div::selection,
.visual .b01 p::selection,
.section1 .intro::selection,
.section2 .here::selection {
    background-color: #D6007F;
    color: #fff;
}

.visual .b01 div {
    margin: 15px 0 0;
    line-height: 2rem;
}

.visual .b01 p {
    font-size: 1.2rem;
    color: rgb(235, 235, 235);
    line-height: 2rem;
}

.visual .c01 {
    top: 200px;
    right: 300px;
    font-size: 1.1rem;
    position: absolute;
    color: #032E55;
    line-height: 2.9rem;
    font-weight: 500;
    z-index: 20;  
   
}

.visual h3 {
    color: #fff;

}

.visual .c01>.info>span:nth-child(1) {
    display: inline-block;
    font-size: 2.3rem;
    font-weight: 500;
}

/* 순차적으로 불들어오게 */
.visual .wrap {
    position: relative;
    overflow: hidden;
    width: 868px;
    height: 860px;
    top: -80px;
    left: 44px;
    z-index: 1;
    background: url(../image/cus02.png)0 0 no-repeat;
    background-size: cover;
}

.visual .wrap>div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 782px;
    left: 286px;
    background: rgb(255, 255, 255);
    border: 5px solid rgb(216, 216, 216);
 }

.visual.on .wrap>div {
    animation: light 2s;
    animation-fill-mode: forwards;
}

.visual.on .wrap>div:nth-child(2) {
    top: 661px;
    left: 776px;
    animation-delay: 0.4s;
}

.visual.on .wrap>div:nth-child(3) {
    top: 602px;
    left: 419px;
    animation-delay: 0.9s;
}

.visual.on .wrap>div:nth-child(4) {
    top: 210px;
    left: 251px;
    animation-delay: 1.3s;
}

.visual.on .wrap>div:nth-child(5) {
    top: 122px;
    left: 247px;
    animation-delay: 1.8s;
}
.visual .wrap .map {
    padding: 0 0 21px 42px;
    background: url(../svg/mapPoint.svg) 0 0 no-repeat;
    width: 50px;
    height: 65px;
    position: absolute;
    z-index: 10;
    border: none;
}
.visual.on .wrap .map {
    animation: map 1s infinite;
    transform: translate(-15px, -57px);

}

.visual .wrap .mapp {
    padding: 0 0 21px 42px;
    background: url(../svg/mapPoint.svg) 0 0 no-repeat;
    width: 30px;
    height: 42px;
    position: absolute;
    z-index: 10;
    transform: translate(-47px, -692px);
    border: none;
    
}
.visual.on .wrap .mapp {
    animation: mapp 1s infinite;
    animation-delay: 2s;
}
.visual .button {
    padding: 10px 19px;
    position: absolute;
    bottom: 23px;
    background-color: #D6007F;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 20;
}

.visual .button:hover {
    background-color: #032E55;
    color: #EFBA26;
    font-weight: 700;
}

/***************** section *****************/

section {
    height: 100vh;
}

.section1 {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
}

.section1 .intro {
    font-size: 1.4rem;
    margin: 270px 0 0;
    color: #999;
    font-weight: 400;
    text-align: center;
}

.section1 .logo2 {
    width: 286px;
    height: 153px;
    background: url(../svg/둥근로고.svg) 50% 50% no-repeat;
    background-size: cover;
    margin: 60px auto 0px;
    position: absolute;
}
.section1 .logo2 + p{
display: none;
}

.section1 .container {
    position: absolute;
    top: 435px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.section1 .container .card {
    position: relative;
    width: 250px;
    height: 400px;
    transition: 0.5s;
    border-radius: 10px;
}

.section1 .container .card .imgBx {
    position: relative;
    width: 250px;
    height: 63%;
    background: #00c7ff;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.section1 .container h3 {
    color: #fff;
    background: #042367;
    padding: 2px 10px;
}

.section1 .container .card:nth-child(1) .imgBx {
    background: url(../cj_night-image/thumbnail06.jpg)50% 0 no-repeat;
    background-size: cover;
}

.section1 .container .card:nth-child(2) .imgBx {
    background: url(../cj_night-image/충청도병마절도사영.jpeg)46% 0 no-repeat;
    background-size: cover;
}

.section1 .container .card:nth-child(3) .imgBx {
    background: url(../cj_night-image/척화비.jpg)50% 35% no-repeat;
    background-size: cover;
}

.section1 .container .card:nth-child(4) .imgBx {
    background: url(../cj_night-image/thumbnail05.jpg)0 0 no-repeat;
    background-size: cover;
}

.section1 .container .card .text {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 20px;
    color: rgb(85, 85, 85);
    background: rgb(232, 232, 232);
    text-align: center;
}

.section1 .container .card .text:nth-child(2) {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 12px;
    color: rgb(85, 85, 85);
    background: rgb(232, 232, 232);
    text-align: center;
}

.section1 .container .card:hover {
    transform: translateY(-40px);
}

.section2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.section2>span {
    font-size: 9rem;
    color: #ededed;
    /* font-weight: 800; */
    z-index: 10;
    position: absolute;
    left: 90px;
    top: 90px;
    font-family: 'Black Han Sans', sans-serif;
}

.section2 .illust {
    background: url(../svg/용두사지.svg)50% 50% no-repeat;
    background-size: cover;
    position: absolute;
    left: 730px;
    top: 225px;
    width: 244px;
    height: 700px;
    opacity: 20%;
}

.section2 .txt {
    margin: 280px 0px 0 220px;
    height: 250px;
}

.section2 .txt>div:nth-of-type(1),
.section2 .txt>div:nth-of-type(2) {
    font-size: 1.1rem;
    font-weight: 500;
    color: #9FA0A0;
}

.section2 .line {
    font-size: 2rem;
    font-weight: 700;
    color: #162142;
    margin: 0 15px 0 0;
    line-height: 3.5rem;
    display: inline-block;
}

.section2 .eng {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    color: #898989;
    line-height: 2rem;
    margin-right: 20px;
}

.section2 .line:last-child {
    display: none;
}

/* 문화재 아래 가로 선그어주기 */
.section2 .line::after {
    width: 424px;
    height: 1px;
    background: #032E55;
    position: absolute;
    display: block;
    content: "";
}

.section2 .adr {
    font-size: 1.1rem;
    font-weight: 500;
    color: #898989;
    line-height: 2rem;
    /* margin-right: 20px; */
}

section.section2 .aniBox {
    top: 20px;
    right: 249px;
    width: 550px;
    height: 878px;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    position: relative;
}

.section2 .aniBox.left {
    background: url(../cj_night-image/yong.jpg)50% 65% no-repeat;
    box-shadow: 0 8px 12px rgb(0 0 0 / 30%);
    background-size: cover;    
    width: 44%;
    height: 417px;
    margin: 165px 0 -6px 277px;
}

.section2 .aniBox.right {
    margin: 430px -298px 0 -20px;
    background: url(../cj_night-image/yong1.jpg)50% 50% no-repeat;
    box-shadow: 0 8px 12px rgb(0 0 0 / 30%);
    background-size: cover;   
    width: 43%;
    height: 386px;
}

.section2 .aniBox.bottom {
    margin: 50px -249px 0 0;
    background: url(../cj_night-image/용두사지철당간2.jpg)0% 50% no-repeat;
    box-shadow: 0 8px 12px rgb(0 0 0 / 30%);
    background-size: cover;
    width: 259px;
    height: 363px;
}

/* 고정배경 */
.fixedBg {
    width: 100%;
    /* min-width: 1580px; */
    height: 100vh;
    background: url(../cj_night-image/청녕각2.jpg)0 0 no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    }

/* 별빛 애니메이션 */
.fixedBg::before {
    background: url(그저빛.png)50% 50% no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    display: block;
    height: 63px;
    width: 63px;
    top: 80px;
    left: -89px;
    animation: star 3s linear infinite;
}

.section3 {
    position: relative;
    display: flex;
    height: 1080px;
    justify-content: space-between;
    background: none;
    overflow: hidden;
    /* background-color: linear-gradient(to bottom left, #3e3b58, #151839); */
}

.section3::before {
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 180px solid white;
    border-left: 100vw solid transparent;
    content: "";
    top: 0;
    left: 0;
}

.section3::after {
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 180px solid transparent;
    border-left: 100vw solid white;
    content: "";
    left: 0;
    bottom: -1px;
}

.section3 .txt {
    margin: 280px 0px 0 220px;
    height: 350px;
}

.section3 .txt>div:nth-of-type(1),
.section3 .txt>div:nth-of-type(2) {
    font-size: 1.1rem;
    font-weight: 500;
    color: #9FA0A0;
}

.section3 .line {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin: 0 15px 0 0;
    line-height: 3.5rem;
    display: inline-block;
}

.section3 .eng {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    color: #898989;
    line-height: 2rem;
    margin-right: 20px;
}

.section3 .line:last-child {
    display: none;
}

/* 문화재 아래 가로 선그어주기 */
.section3 .line::after {
    width: 407px;
    height: 1px;
    background: #fff;
    position: absolute;
    display: block;
    content: "";
}

.section3 .adr {
    font-size: 1.1rem;
    font-weight: 500;
    color: #898989;
    line-height: 2rem;
    /* margin-right: 20px; */
}

section.section3 .aniBox {
    top: 237px;
    right: 100px;
    width: 810px;
    height: 960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

}

.section3 .aniBox.left {
    /* margin: 0px 0 0 99px; */
    background: url(../cj_night-image/조선순조25년_1825청녕각.jpg)43% 50% no-repeat;
    box-shadow: 0 8px 12px rgb(0 0 0 / 30%);
    background-size: cover;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;

}

.section3 .aniBox.right {
    /* margin: 149px 0 0 0px; */
    background: url(../cj_night-image/청녕각.jpg)50% 30% no-repeat;
    box-shadow: 0 8px 12px rgb(0 0 0 / 30%);
    background-size: cover;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;

}

.section3 .aniBox.bottom {
    /* margin: -398px 0px 3px 127px; */
    background: url(../cj_night-image/청녕각복원.jpg)0% 0% no-repeat;
    box-shadow: 0 8px 12px rgb(0 0 0 / 30%);
    background-size: cover;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;

}

.section3 .aniBox>div::after {
    content: "청녕각";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 80px;
    line-height: 60px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background: #D6007F;
    color: #fff;
    transform: translateY(100%);
    transition: all .3s ease-out;
}

.section3 .aniBox.left::after {
    content: "구한말 선교사가 찍은 동헌";

}

.section3 .aniBox.right::after {
    content: "2007년 복원전모습";
}

.section3 .aniBox.bottom::after {
    content: "청녕각 측면";

}

.section3 .aniBox>div:hover::after {
    transform: translateY(0);
}

.section3 .aniBox>div:hover::before {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
}

/* ---------------------------------------- */
.section4 {
    width: 100%;
    position: relative;
    margin: 0px auto;
    background: #fff;
}

.section4 .inner {
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px auto 0;
}

.section4 .inner .left {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.section4 h3 {
    color: rgb(34, 34, 34);
    font-size: 2.3rem;
    line-height: 3rem;
    /* margin: 50px 0 30px; */
}

.section4 .left .txt {
    /* color: #fff; */
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-left: 0px;
    font-weight: 300;
}

.section4 .left .btgroup {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.section4 .left .btgroup .button {
    margin: 0px 15px 0 0;
    padding: 3px 12px;
    background: #D6007F;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
}

.section4 .left .btgroup>.button:nth-of-type(2) {
    background: #999;
}

.section4 .left .btgroup>.button:nth-of-type(2):hover {
    background: #D6007F;
}

.section4 .inner .right {
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.section4 .right div {
    padding: 20px 30px;
    text-align: center;
}

.section4 .right div::before {
    content: "";
    background: url(../svg/카페아이콘.svg)10% 0% no-repeat;
    background-size: cover;
    width: 71px;
    height: 91px;
    display: block;
    margin: 0 auto 50px;
}

.section4 .right>div:nth-child(2)::before {
    content: "";
    background: url(../svg/카페아이콘.svg)53% 0% no-repeat;
    background-size: cover;
    transform: translateX(11px);
}

.section4 .right>div:nth-child(3)::before {
    content: "";
    background: url(../svg/카페아이콘.svg)93% 0% no-repeat;
    background-size: cover;
}

.section4 .pic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}

.section4 .pic>img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 0 10px;
}

.section4 .right div::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 70px;
    background: rgb(196, 196, 196);
    transform: rotate(21deg);
    display: block;
    top: 185px;
    margin: 0 0px 0 -19px;
}



/* ------------------------------------------ */

.section5 {
    width: 100%;
    position: relative;
    background: #D1D1D1;
}

.section5 .group {
    /* width: 100%;
    height:100vh; */
    display: flex;
    justify-content: space-between;
    position: relative;
}

.section5 .group .left {
    width: 28%;
    /* height: 800px; */
    display: flex;
    flex-direction: column;
    position: relative;
    top: 99px;
    left: 252px;
}

.section5 .group .left h3 {
    font-size: 2.3rem;
    color: #162142;
    line-height: 3rem;
    
}

.section5 .group .left h3::after {
    width: 278px;
    height: 1px;
    margin: 0px 0 10px 0;
    background: #000;
    position: absolute;
    display: block;
    content: "";
}

.section5 .left .adr {
    font-size: 1.1rem;
    font-weight: 500;
    color: #898989;
    line-height: 2rem;
    margin-top: 15px;
}

.section5 .group .left .popbt {
    width: 20px;
    height: 20px;
    margin: 62px 0 -87px 700px;
    border-radius: 50%;
    background-color: #D6007F;
    cursor: pointer;
    border: none;
    z-index: 100;
   
}
.section5 .group .left .popbt::after {
    width: 30px;
    height: 30px;
    margin:-15px 0 -89px -15px;
    border-radius: 50%;
    background-color: #D6007F;   
    z-index: 100;
    content: "";
    position: absolute;
    animation: scale 2s infinite;
}

.section5 .trainstation {
    background: url(../cj_night-image/옛청주역사공원누끼.png)43% 50% no-repeat;
    background-size: cover;
    width: 709px;
    height: 211px;
    margin: 50px 0;
}

.section5 .group .left .ex {
    font-size: 1.1rem;
    font-weight: 500;
    color: #898989;
    line-height: 2rem;
    margin: -54px -327px -6px 152px;
}

.section5 .group .popup {
    position: absolute;
    background: url(../svg/ticket.svg)50% 50% no-repeat;
    width: 474px;
    height: 227px;
    background-size: cover;
    top: 250px;
    right: 90px;
    text-align: center;
    padding: 68px 0 0;
    display: none;
}

.section5 .group .popup span {
    font-size: 1.1rem;
    font-weight: 300;
    color: #262626;
    line-height: 1.5rem;
   
}
.section5 .group .popup .close {
    width: 50px;
    height: 22px;
    margin: -55px 0 0 382px;
    background-color: #D6007F;
    color: #fff;
    position: absolute;
    cursor: pointer;
}
.section5 .back {
    background: url(../cj_night-image/옛청주역사공원.png)10% 50% no-repeat;
    /* background-size: cover; */
    position: absolute;
    width: 898px;
    height: 542px;
    bottom: -103px;
    right: 0;
}

.section5 .train {
    background: url(../cj_night-image/train.png)0% 50% no-repeat;
    background-size: cover;
    position: absolute;
    width: 444px;
    height: 256px;
    bottom: 20px;
    left: 0;
}

.section5 .group .right {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 554px;
    right: 100px;
    z-index: 50;
}

.section5 .group .right .box {
    display: flex;
    flex-direction: column;
}

.section5 .group .right > .box img {
    width: 297px;
    height: 210px;
    margin: 0 35px 0 0;
    object-fit: cover;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.section5 .group .right > .box img:nth-child(3) {
   margin: 0 10px;
    
}

.section5 .group .right > .box span:first-child {
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.5rem;
    margin-bottom: 18px;
}

.section5 .group .right > .box span:last-child {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(53, 53, 53);
    line-height: 1.5rem;
    margin: 18px 0 0 16px;
}
.section5 .group .right > .box span:last-child::selection,
.section5 .group .popup span::selection {
    background-color: #D6007F;
    color: #fff;
}
/* ------------------------- */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #fff;
    background: #132734;
    height: 150px;
    bottom: 0;
    position: relative;
}

footer .web-logo {
    flex-direction: row;
    align-items: center;

}

footer .web-logo>img {
    width: 50px;
    /* height: 50px; */
    object-fit: cover;
}