@charset "UTF-8";

/* ie11hack */
/* @media all and (-ms-high-contrast:none) {

} */
/* ie10,ie11 hack */
/* @media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
   
} */

/*IE는 이미지가 앵커의 자식인 경우 이미지 주위에 테두리를 추가하므로 테두리를 none으로 설정하여이를 제거 할 수 있습니다.*/
a img {
   border: none;
}

.is-ie header .inner .gnb {
   margin-left: 450px;
}

.is-ie header .inner .gnb > div > span {
   margin: 0 20px 0 28px;
   padding:0 25px 0;
}

.is-ie header .inner .gnb > div > span:nth-of-type(3) {
    margin: 0 13px 0 41px;
 }
 .is-ie header .inner .gnb > div > span:nth-of-type(4) {
    margin: 0 13px 0 18px;
 }
.is-ie .banner h4 {
    padding: 15px 0 0;
    margin: 0 0 0 2%;
    margin-right: 1400px;
    font-size: 1.5rem;
    color: rgb(226, 226, 226);
    background: #010f1b;
    width: 240px;
    height: 65px;
    text-align: center;
    z-index: 5;
}

.is-ie .visual .b01 {  
    font-size: 1.2rem;  
}


.is-ie .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
   background:rgb(255, 208, 1);
}


.is-ie .news .swiper-button-next,
.is-ie .news .swiper-button-prev {
    width: 65px;
    height: 65px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    color: #fff;
    padding: 0 6px 0 0;
    z-index: 3;
    background: url(/image/prev.png)41% 50% no-repeat;
    background-size:46%
}

.is-ie .news .swiper-button-next {
    padding: 0 0 0 6px;
    background: url(/image/next.png)63% 50% no-repeat;
    background-size:46%;
    
}

.is-ie .banner h4 {
   position: absolute;
   top: -28px;
}

.is-ie .bt-wrap > .swiper-button-prev{
   background: url(/image/boraprev.png)41% 50% no-repeat;
    background-size:46%;
    top: 19px;
}

.is-ie .bt-wrap > .swiper-button-next {
   background: url(/image/boranext.png)53% 50% no-repeat;
   background-size:46%;
   top: 19px;
}

.is-ie header .inner:hover .gnb > div > span::after {
   top: 3px;
   left: -22px;
}

/* .is-ie .banner .swiper-container .swiper-slide {
   text-decoration:none;
   border:0;
   outline:none;
} */
