@charset "UTF-8";

.is-ie .scroll::before {
    height: 233px;
    top: 41px;
}

/* body{
    overflow-x: hidden;
    overflow-y: auto;
} */

/* header기본디자인 */


.is-ie .visual .wrap .mapp {
    padding:0 0 21px 29px;
}

.is-ie .visual .button {
    bottom: 36px;
}

.ie10 .section1 .logo2 {
    margin: 60px auto 0;
}
/* .ie11 .section1 .logo2 {
    margin: 60px 0 0 -150px;
} */

/* .ie11 .section1 .container {
    display:unset;
    margin: 0 0px 0 -550px;
    
}    
.ie10 .section1 .container {
    display:unset;
    margin: 0 0px 0 -205px;
}     */

/* .is-ie .section1 .container .card {
    position: relative;
    width: 250px;
    height: 400px;
    transition: 0.5s;
    border-radius: 10px;
    float: left;
}     */

