@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
/* @import url('https://fonts.googleapis.com/icon?family=Material+Icons'); */
/* Material Icons */
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
/* font-awsome v5.10 */
@import url('IEstyle/main-IEstyle.css');
/* IE cross browsing */

/* 프로젝트A pc ver. */

@keyframes scrollmouse {
    100% {
        transform: translate(0, 50px);
        opacity: 0;
    }
}

/* leftt map애니메이션 */
@keyframes mapp {
    100% {
        transform: translate(245px, 51px);
    }
}

@keyframes map {
    100% {
        transform: translate(-18px, -74px);
    }

}

/* rightt map애니메이션 */
@keyframes mappb {
    100% {
        transform: translate(-42px, -620px);
    }
}

@keyframes mapb {
    100% {
        transform: translate(-15px, -75px);
    }
}

@keyframes light {
    0% {
        background: rgb(206, 206, 206);
    }

    100% {
        background: rgb(238, 4, 121);
    }
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    /* outline: 1px solid rgb(240, 206, 161); */
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

ul,
li {
    list-style: none;
}

body {
    min-width: 1580px;
}

a {
    text-decoration: none;
}

/* html,body{cursor: url(../images/cursor.cur), auto;} */
/* top 버튼 */
body .topp {
    position: fixed;
    bottom: 30px;
    right: 5%;
    width: 50px;
    height: 50px;
    background: url("../image/top_btn.png") 50% 50% no-repeat;
    background-size: cover;
    border-radius: 50%;
    z-index: 5;
    display: none;
}

/* header기본디자인 */
header {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #000;
    z-index: 200;
}

header.visit::after {
    width: 100%;
    height: 0px;
    background: rgba(0, 0, 0, 0.8);
    display: block;
    content: "";
    z-index: 1;
    top: 100px;
    left: 0;
}

header.visit::after {
    height: 380px;
    transition: height 0.5s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}


header .inner {
    min-width: 1200px;
    max-width: 1500px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
}

header .inner .logo {
    width: 138px;
    height: 55px;
    background: url("../cj_night-image/cjnight_logo.png") 0 0 no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: 21px;
    left: 0;
}


header .inner .mMenuBt {
    display: none;
}

header .inner .gnb {
    width: 900px;
    height: 100%;
}

header .inner .gnb .mCloseBt {
    display: none;
}

header .inner .gnb>div {
    height: 100%;
    display: flex;
}

header .inner .gnb>div>span {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

/* subgnball */
header .inner .gnb .subgnball {
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 200;
    min-width: 1500px;
    width: 100%;
    height: 0;
    color: rgb(211, 211, 211);
    display: flex;
    /* justify-content: flex-end; */
}

header .inner .gnb .subgnball .wrap2 {
    display: flex;
    flex-direction: row;
    width: 1500px;
    margin: 20px auto 0;
    justify-content: flex-end;
}

header .inner .gnb .subgnball .wrap2 ul {
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    display: inherit;
}

header .inner .gnb .subgnball>.wrap2 ul>li {
    width: 180px;
    /* border-left: 1px solid rgba(0, 0, 0, 0.05); */
}

header .inner .gnb .subgnball .wrap2 ul>li:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

header .inner .gnb .subgnball .wrap2 ul>li>ul {
    width: 100%;
}

header .inner .gnb .subgnball .wrap2 ul>li>ul>li {
    min-height: 30px;
    line-height: 28px;
    padding: 0 0 0 22px;
    /* 옆으로 22만큼 미는게 전반적으로 센터로 보임 */
    font-weight: 500;
    /* 여기 이름이 더 상세하게 줬으니까 */
    position: relative;
    /* 옆에 점찍혀있는 큰 타이틀들 */
}

.gnb .subgnball .wrap2 ul>li>ul>li:hover {
    /* width: 83%; */
    height: 23px;
    background: #EFBA26;
    color: rgb(22, 33, 66);
    position: absolute;
}

header .inner .gnb .subgnball .wrap2 ul>li>ul .mysub {
    height: 23px;
    background: #EFBA26;
    color: rgb(22, 33, 66);
}

/* 틀어진 첫번째문단에만 이름주고 정렬을 다시주었다 */
/* header .inner .gnb .subgnball > ul > li.on .first * {
    padding: 0 35px 0 0; //위치가 안먹어서 padding조절
    color: rgb(222, 33, 247)!important; } */

header .inner .gnb .subgnball .wrap2 ul>li>ul>li>ul {
    line-height: 1.3rem;
    overflow: hidden;
}

/* 서브페이지 만든곳만 */
header .inner .gnb .subgnball .wrap2 ul>li>ul>li>ul .second,
header .inner .gnb .subgnball .wrap2 ul>li>ul>li>ul>li {
    background: #a95cf1;
    color: rgb(219, 219, 219);
    cursor: pointer;
    min-height: 30px;
    line-height: 30px;
    margin: 3px 0 0 0px;
}

/* inner:hover일때 상단디자인 변경 및 .subgnball */
header .inner::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    content: "";
}

/* header .inner:hover::after {
    background: #fff;
    transition: all 0.3s;
} */

header.on {
    background: #fff;
    transition: all 0.3s;
}

header .inner:hover .logo {
    background: url("../cj_night-image/cjnight_logo.png") 0 -59px no-repeat;
    background-size: cover;
    z-index: 10;
}

header:hover .logo {
    background: url("../cj_night-image/cjnight_logo.png") 0 -59px no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: 21px;
}

header .inner:hover .gnb>div>span {
    color: #022b4d;
    position: relative;
    z-index: 10;
}

header:hover .gnb>div>span {
    color: #022b4d;
    position: relative;
    z-index: 10;
}


/* header .inner:hover .gnb > div > span:hover, */
.gnb>div>span:hover::before {
    width: 62%;
    height: 4px;
    top: 77px;
    left: 34px;
    content: "";
    background: #D6007F;
    display: block;
    position: absolute;

}

header .inner:hover .gnb>div>span::after {
    width: 1px;
    height: 30px;
    position: absolute;
    top: 35px;
    right: -1px;
    content: "";
    background: rgba(0, 0, 0, 0.05);
}

header .inner:hover .gnb .subgnball {
    height: 380px;
    transition: height 0.5s;
}



/* 여기서부터 비주얼 */

/* .expand2.thumbGallerry {
    width: 100%;
    height: 800px;
    margin: 0 0 200px;
    position: relative;
} */

.visual .b01 {
    width: 30%;
    font-size: 1.5rem;
    position: absolute;
    color: #fff;
    z-index: 20;
    top: 300px;
    left: 150px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

/**/
/*상주경천섬체*/
@font-face{
    font-family: 'sangju';
    font-weight: 600;
    src: url("../font/SANGJU-Gyeongcheon-Island.ttf") format('truetype');

}

.visual .b01 h1{font-size:37px; line-height:47px; font-family: 'sangju';}
.visual .b01 p::before {
    top: -9px;
    position: absolute;
    width: 61px;
    height: 7px;
    background: #D6007F;
    /* display: block; */
    content: "";
    z-index: 20;
}

.visual .b01>p {
    font-size: 1.2rem;
    color: rgb(216, 216, 216);
}

/* main slide */
.visual .mainSlide5 {
    width: 100%;
    height: 90vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
/* back 눌러주기용 */
.visual .mainSlide5::after {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 100;
    display: block;
    /* display: none; */
    background: rgba(0, 0, 0, 0.4);
}

.visual .mainSlide5 .swiper-slide.bg01 {
    background: url(../cj_night-image/main.jpg) center no-repeat;
    background-size: cover;
}

.visual .mainSlide5 .swiper-slide.bg02 {
    background: url(../cj_night-image/thumbnail01.jpg) center no-repeat;
    background-size: cover;
}

.visual .mainSlide5 .swiper-slide.bg03 {
    background: url(../cj_night-image/thumbnail02.jpg) 50% 70% no-repeat;
    background-size: cover;
}

.visual .mainSlide5 .swiper-slide.bg04 {
    background: url(../cj_night-image/thumbnail03.jpg) center no-repeat;
    background-size: cover;
}

.visual .mainSlide5 .swiper-slide.bg05 {
    background: url(../cj_night-image/thumbnail04.jpg) center no-repeat;
    background-size: cover;
}

.visual .mainSlide5 .swiper-slide.bg06 {
    background: url(../cj_night-image/thumbnail05.jpg) center no-repeat;
    background-size: cover;
}

.visual .mainSlide5 .swiper-slide.bg07 {
    background: url(../cj_night-image/thumbnail06.jpg) center no-repeat;
    background-size: cover;
}

.visual .mainSlide5 .swiper-slide.bg08 {
    background: url(../cj_night-image/thumbnail07.jpg) center no-repeat;
    background-size: cover;
}

.visual .mainSlide5 .swiper-slide.bg09 {
    background: url(../cj_night-image/thumbnail08.jpg) center no-repeat;
    background-size: cover;
}

.visual .mainSlide5 .swiper-slide.bg10 {
    background: url(../cj_night-image/thumbnail09.jpg) 50% 60% no-repeat;
    background-size: cover;
}

/* thumb 컨테이너 */
.visual .thumbSlide5 {
    width: 36%;
    height: 300px;
    margin: 0;
    position: absolute;
    bottom: 45px;
    right: 50px;
    z-index: 100;
}

.visual .thumbSlide5 .swiper-slide {
    border-radius: 8px;
    height: 280px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.visual .thumbSlide5 .swiper-slide.bg01 {
    background: url(../cj_night-image/thumbnail01.jpg) center no-repeat;
    background-size: cover;
}

.visual .thumbSlide5 .swiper-slide.bg02 {
    background: url(../cj_night-image/thumbnail02.jpg) 50% 70% no-repeat;
    background-size: cover;
}

.visual .thumbSlide5 .swiper-slide.bg03 {
    background: url(../cj_night-image/thumbnail03.jpg) center no-repeat;
    background-size: cover;
}

.visual .thumbSlide5 .swiper-slide.bg04 {
    background: url(../cj_night-image/thumbnail04.jpg) center no-repeat;
    background-size: cover;
}

.visual .thumbSlide5 .swiper-slide.bg05 {
    background: url(../cj_night-image/thumbnail05.jpg) center no-repeat;
    background-size: cover;
}

.visual .thumbSlide5 .swiper-slide.bg06 {
    background: url(../cj_night-image/thumbnail06.jpg) center no-repeat;
    background-size: cover;
}

.visual .thumbSlide5 .swiper-slide.bg07 {
    background: url(../cj_night-image/thumbnail07.jpg) center no-repeat;
    background-size: cover;
}

.visual .thumbSlide5 .swiper-slide.bg08 {
    background: url(../cj_night-image/thumbnail08.jpg) center no-repeat;
    background-size: cover;
}

.visual .thumbSlide5 .swiper-slide.bg09 {
    background: url(../cj_night-image/thumbnail09.jpg) 50% 60% no-repeat;
    background-size: cover;
}

.visual .thumbSlide5 .swiper-slide.bg10 {
    background: url(../cj_night-image/main.jpg) center no-repeat;
    background-size: cover;
}

.visual .thumbSlide5 .swiper-pagination {
    width: 60%;
    height: 6px;
    margin: 0 auto;
    top: 400px;
    left: 20%;
    --swiper-pagination-color: rgb(255, 208, 1);
}



/* 스크롤마우스애니메이션 */
.visual .scrollmouse {
    background: url(../svg/scroll.svg) 50% 50% no-repeat;
    width: 100%;
    height: 63px;
    z-index: 100;
    animation: scrollmouse 1.5s infinite;
    top: 89vh;
    position: absolute;
}

/* 여기서부터 view */
.view {
    width: 100%;
    /* top: 100px; */
    position: relative;
    display: flex;
    justify-content: space-between;

}

.leftt {
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: url(../cj_night-image/배경무늬.png)0 0 no-repeat, #B9BABA;
    background-size: cover;
}

.rightt {
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    /* background: url(../cj_night-image/배경무늬.png)0 0 no-repeat, #B9BABA;
    background-size: cover; */
    background: #b4b4b4;
}

/* mobile back */

.leftt::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 90vh;
    top: 0;
    z-index: 3;
    position: absolute;
    display: none;
}

.leftt h2 {
    font-weight: 600;
    font-size: 2rem;
    position: absolute;
    color: #fff;
    line-height: 2.9rem;
    z-index: 20;
    top: 80px;
    left: 55px;
}

.leftt h2::before {
    top: -9px;
    position: absolute;
    width: 80px;
    height: 7px;
    background: #D6007F;
    /* display: block; */
    content: "";
}

.leftt .c01 {
    top: 200px;
    right: 100px;
    font-size: 1.1rem;
    position: absolute;
    color: #032E55;
    line-height: 2.9rem;
    font-weight: 500;
    z-index: 20;
}

.leftt h3 {
    color: #fff;
}

.leftt .c01>.info>span:nth-child(1) {
    display: inline-block;
    font-size: 2.3rem;
    font-weight: 500;
}

/* 순차적으로 불들어오게 */
.leftt .wrap {
    position: absolute;
    width: 760px;
    height: 548px;
    top: 171px;
    left: 0;
    z-index: 1;
    background: url(../image/cus01.png)50% 50% no-repeat;
    background-size: cover;
}

.leftt .wrap>div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 455px;
    left: 206px;
    background: rgb(255, 255, 255);
    border: 5px solid rgb(216, 216, 216);
}

.view.on .leftt .wrap>div {
    animation: light 2s;
    animation-fill-mode: forwards;
}

.view.on .leftt .wrap>div:nth-of-type(2) {
    top: 374px;
    left: 306px;
    animation-delay: 0.4s;
}

.view.on .leftt .wrap>div:nth-of-type(3) {
    top: 282px;
    left: 494px;
    animation-delay: 0.9s;
}

.view.on .leftt .wrap>div:nth-of-type(4) {
    top: 289px;
    left: 648px;
    animation-delay: 1.3s;
}

.view.on .leftt .wrap>div:nth-of-type(5) {
    top: 102px;
    left: 251px;
    animation-delay: 1.8s;
}

.leftt .wrap .map {
    background: url(../svg/mapPoint.svg) 0 0 no-repeat;
    width: 50px;
    height: 65px;
    position: absolute;
    z-index: 10;
    border: none;
    transform: translate(-18px, -54px);
}

.view.on .leftt .wrap .map {
    animation: map 1s infinite;
}

.leftt .wrap .mapp {
    background: url(../svg/mapPoint.svg) 0 0 no-repeat;
    width: 30px;
    height: 42px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    transform: translate(245px, 71px);
    border: none;

}

.view.on .leftt .wrap .mapp {
    animation: mapp 1s infinite;
    animation-delay: 2.2s;
}

.view .button {
    width: 200px;
    height: 35px;
    position: absolute;
    bottom: 23px;
    background-color: #D6007F;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 2.4rem;
    font-weight: 500;
    text-align: center;
    z-index: 20;
    margin: 0 auto;

}

.view .button:hover {
    background-color: #032E55;
    color: #EFBA26;
    font-weight: 700;

}

/* rightt */
/* mobile back */
.rightt::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 90vh;
    top: 0;
    z-index: 2;
    position: absolute;
    display: none;
}

.rightt h2 {
    font-weight: 600;
    font-size: 2rem;
    position: absolute;
    color: #fff;
    line-height: 2.9rem;
    z-index: 20;
    top: 80px;
    left: 55px;
}

.rightt h2::before {
    top: -9px;
    position: absolute;
    width: 80px;
    height: 7px;
    background: #D6007F;
    /* display: block; */
    content: "";
}

.rightt .c01 {
    top: 200px;
    right: 100px;
    font-size: 1.1rem;
    position: absolute;
    color: #032E55;
    line-height: 2.9rem;
    font-weight: 500;
    z-index: 20;

}

.rightt h3 {
    color: #fff;

}

.rightt .c01>.info>span:nth-child(1) {
    display: inline-block;
    font-size: 2.3rem;
    font-weight: 500;
}

/* 순차적으로 불들어오게 */
.rightt .wrap {
    position: absolute;
    /* overflow: hidden; */
    width: 745px;
    height: 741px;
    top: 25px;
    left: 97px;
    z-index: 1;
    background: url(../image/cus02.png)50% 0% no-repeat;
    background-size: cover;
}

.rightt .wrap>div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 670px;
    left: 243px;
    background: rgb(255, 255, 255);
    border: 5px solid rgb(216, 216, 216);
}

.view.on .rightt .wrap>div {
    animation: light 2s;
    animation-fill-mode: forwards;
}

.view.on .rightt .wrap>div:nth-child(2) {
    top: 566px;
    left: 662px;
    animation-delay: 0.4s;
}

.view.on .rightt .wrap>div:nth-child(3) {
    top: 517px;
    left: 355px;
    animation-delay: 0.9s;
}

.view.on .rightt .wrap>div:nth-child(4) {
    top: 177px;
    left: 212px;
    animation-delay: 1.3s;
}

.view.on .rightt .wrap>div:nth-child(5) {
    top: 101px;
    left: 207px;
    animation-delay: 1.8s;
}

.rightt .wrap .map {
    background: url(../svg/mapPoint.svg) 0 0 no-repeat;
    width: 50px;
    height: 65px;
    position: absolute;
    z-index: 10;
    border: none;
}

.view.on .rightt .wrap .map {
    animation: mapb 1s infinite;
    transform: translate(-15px, -55px);

}

.rightt .wrap .mapp {
    padding: 0 0 21px 42px;
    background: url(../svg/mapPoint.svg) 0 0 no-repeat;
    width: 30px;
    height: 42px;
    position: absolute;
    z-index: 10;
    transform: translate(-42px, -600px);
    border: none;

}

.view.on .rightt .wrap .mapp {
    animation: mappb 1s infinite;
    animation-delay: 2s;
}

/* ------------------------------------------------------------- */
/* 여기서부터 video */

section.video {
    width: 100%;
    height: 700px;
    margin: 0px auto 0;
    display: flex;
    position: relative;
}

section.video::after {
    content: "";
    width: 81%;
    height: 91%;
    left: 5%;
    top: 34px;
    position: absolute;
    display: block;
    background: url(../cj_night-image/videoback.jpg) 0 0 no-repeat;
    background-size: contain;
}

section.video .inner {
    height: 700px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1050px;
}

section.video h1 {
    display: none;
}

section.video .content {
    top: 250px;
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 2.1rem;
    font-weight: 500;
    color: #010f1b;
    position: relative;
    z-index: 1;
}

section.video .content>span:nth-child(2) {
    font-weight: 600;
}

section.video .content .arrow {
    height: 30px;
    font-size: 1.2rem;
    line-height: 1.1rem;
    padding: 0px 50px 0 20px;
    border: 1px solid #D6007F;
    border-radius: 15px;
    color: #D6007F;
    background: none;
    cursor: pointer;
    margin: 20px 0 0 0;
}

.video .content .arrow:hover {
    border: 1px solid rgb(112, 112, 112);
    color: rgb(112, 112, 112);
}

/* 화살표 집어넣기 */
section.video .content .arrow::before {
    position: relative;
    width: 31px;
    height: 6px;
    left: 135px;
    display: block;
    top: 10px;
    content: "";
    background: url(../image/arrow.png)center no-repeat;
    background-size: cover;
}


/* 비포다음에 호버가 아니라 비포를 건 객체에 hover */
section.video .content .arrow:hover::before {
    background: url(../image/arrowgray.png)center no-repeat;
    background-size: cover;
}

.sns {
    display: flex;
    justify-content: left
}

.sns span {
    list-style-type: none;
}

.sns>span>a {
    display: block;
    padding: 0 0 13px 42px;
    text-decoration: none;
    background: url("../svg/sns.svg") 0 0 no-repeat;
    background-size: 111px 42px;
    margin: 15px 0 0 0;
    /* ----text-indent:-9999px; 기능저하 대체법 */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.sns>span>a:hover {
    display: block;
    padding: 0 0 13px 42px;
    text-decoration: none;
    background: url("../svg/유튭인스타흑백.svg") 0 0 no-repeat;
    background-size: 111px 42px;
    margin: 15px 0 0 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


.sns span:nth-child(1) a {
    background-position: 0 0;
}

.sns span:nth-child(2) a {
    background-position: -64px 0;
}

/* ---------동영상 링크 & 버튼--------- */

section.video .vd {
    width: 730px;
    height: 405px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    outline: none;
    border: none;
    top: 180px;
    left: 98px;
    z-index: 1;
}

/* ---------여기부터 course --------- */

section.course {
    width: 100%;
    height: 500px;
    position: relative;

}

section.course .inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.course .inner>.box {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #162142;

}

section.course .box.left {
    position: relative;
}

section.course .box.left::before {
    content: "";
    background: url(../image/noticebg.png)center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 790px;
    height: 500px;
}

section.course .box.left .title {
    font-size: 1.7rem;
    line-height: 2rem;
    color: #fff;
    display: flex;
    position: relative;
    top: 25px;
    left: 40px;
    width: 70%;
}

section.course .box.left .title h3 {
    font-weight: 500;
    margin-right: 5px;

}

section.course .box.left .title h4 {
    font-weight: 300;
    font-size: 2.1rem;
}

section.course .inner .box .con {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 10px;
    left: 10px;
    height: 170px;
}

section.course .inner .box .con>div {
    background: url(../image/con1.png)50% 50% no-repeat;
    background-size: cover;
    width: 95px;
    height: 90px;
    transform: translate(0px, 50px);
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    line-height: 18rem;
    cursor: pointer;
}

section.course .inner .box .con>div:hover::after {
    content: "";
    background-color: #D6007F;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    right: -17px;
    position: absolute;
}

section.course .inner .box .con>div:hover::before {
    content: "";
    background-color: #4d0669;
    width: 97px;
    height: 10px;
    top: 123px;
    z-index: -1;
    left: 0;
    position: absolute;
}

section.course .inner .box .con>div:nth-of-type(3)::before,
section.course .inner .box .con>div:nth-of-type(4)::before {
    content: "";
    width: 76px;
    cursor: pointer;
}

section.course .inner .box .con>div:nth-of-type(5)::before {
    content: "";
    width: 104px;
    cursor: pointer;
}

section.course .inner .box .con>div:nth-of-type(2) {
    background: url(../image/con2.png)50% 50% no-repeat;;
    background-size: contain;
    transform: translate(0px, 50px);
}

section.course .inner .box .con>div:nth-of-type(3) {
    background: url(../image/con3.png)50% 50% no-repeat;
    background-size: contain;
    transform: translate(0px, 50px);
    text-indent: -21px;
    z-index: 15;
}

section.course .inner .box .con>div:nth-of-type(4) {
    background: url(../image/con4.png)50% 50% no-repeat;
    background-size: contain;
    width: 66px;
    height: 80px;
    text-indent: 5px;
    transform: translate(0px, 50px);
    z-index: 15;
}

section.course .inner .box .con>div:nth-of-type(5) {
    background: url(../image/con6.png)50% 50% no-repeat;
    background-size: contain;
    transform: translate(0px, 50px);
    text-indent: -13px;
}


/* -------공지사항 보도자료 swipe --------- */
section.course .inner .swiper-container {
    width: 100%;
    /* height: 100%; */
}

section.course .inner .art3 {
    width: 100%;
    height: 60px;
    margin: 70px 0 0 0;
    border-top: 1px solid rgb(109, 109, 109);
    border-bottom: 1px solid rgb(109, 109, 109);
}

section.course .inner .art3 .swiper-slide {
    display: flex;
    align-items: center;
}

section.course .inner .art3 .swiper-slide span {
    height: 78px;
    line-height: 78px;
}

section.course .inner .art3 .swiper-slide span.g1 {
    color: #D6007F;
    margin: 0 20px 0;
    font-weight: 600;
    font-size: 1.2rem;
}

section.course .inner .art3 .swiper-slide span.g2,
section.course .inner .art3 .swiper-slide span.g3 {
    color: rgb(199, 199, 199);
    margin: 0 10px 0 10px;
}

section.course .inner .art3 .swiper-slide span.g3,
section.course .inner .art4 .swiper-slide span.g3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section.course .inner .art4 {
    width: 100%;
    height: 60px;
    margin: 20px 0 0 0;
    border-top: 1px solid rgb(109, 109, 109);
    border-bottom: 1px solid rgb(109, 109, 109);
}

section.course .inner .art4 .swiper-slide {
    display: flex;
    align-items: center;
}

section.course .inner .art4 .swiper-slide span {
    height: 78px;
    line-height: 78px;
}

section.course .inner .art4 .swiper-slide span.g1 {
    color: #D6007F;
    margin: 0 20px 0;
    font-weight: 600;
    font-size: 1.2rem;
}

section.course .inner .art4 .swiper-slide span.g2,
section.course .inner .art4 .swiper-slide span.g3 {
    color: rgb(199, 199, 199);
    margin: 0 10px 0 10px;
}

/* 폼요소  */
.course .inner .box.right {
    background: url(../image/pattern.png) 50% 50% no-repeat;
}

.course .box.right h3 {
    background: #162142;
    width: 110px;
    height: 165px;
    display: flex;
    color: #FFF;
    font-size: 1.7rem;
    line-height: 2.2rem;
    justify-content: center;
    padding-top: 15px;
    top: 0;
    left: 40px;
    position: relative;
}

/* ------------------------------------------ */
.t1 {
    display: flex;
    flex-direction: row;
    margin: 20px 0 30px 506px;
}

.t1 label {
    margin: 0 20px 0 0;
}


.t1 .checks {
    position: relative;

}

.t1 .checks input[type="radio"] {
    /* 실제 체크박스는 화면에서 숨김 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.t1 .checks input[type="radio"]+label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;

}

.t1 .checks input[type="radio"]+label:before {
    /* 가짜 라디오박스 */
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    width: 21px;
    /* 라디오박스의 너비를 지정 */
    height: 21px;
    /* 체크박스의 높이를 지정 */
    text-align: center;
    background: #a95cf1;
    /* border: 1px solid #cacece; */
    border-radius: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    /* inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
    /* 작은버튼에 효과 줘봣자 크로스브라우징 어긋나 */
}

.t1 .checks input[type="radio"]+label:active:before,
.t1 .checks input[type="radio"]:checked+label:active:before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    /* inset 0px 1px 3px rgba(0, 0, 0, 0.1); */
}

.t1 .checks input[type="radio"]:checked+label:before {
    /* 라디오박스를 체크했을때 */
    background: #7c12df;
    /* border-color: #adb8c0; */
    /* border: 3px solid rgb(0, 255, 234);  */
}

.t1 .checks input[type="radio"]:checked+label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 5px;
    width: 11px;
    height: 11px;
    background: #fff;
    border-radius: 100%;
    /* box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); */
}

/* -------------------------- */
.course .inner .right .c03 {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: rgb(77, 77, 77);
    display: flex;
    flex-direction: column;
    line-height: 0.9rem;
    align-items: center;
    margin: 60px 0 0 0;
}

.course .inner .right .c03 input {
    font-size: 1.3rem;
    padding: 3px;
    border: #999 1px;
}

.right .c03 input::placeholder {
    color: rgb(195, 195, 195);
}

.tel span:first-child {

    position: relative;


}

.tel span:first-child::after {
    width: 3px;
    height: 30px;
    position: absolute;
    bottom: 2px;
    right: -46px;
    content: "";
    background: #fff;
}


/* 접수하기 버튼 */
.course .inner .right .c03 input:last-child {
    padding: 8px 15px;
}

form .bt {
    color: #fff;
    font-weight: 400;
    background: linear-gradient(to right, #a95cf1, #7c12df);
    border: 0px solid;
    font-weight: 700;
}

form .bt:hover {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.course .inner .right .c03 form {
    margin: 0 auto;
}

/* 접수완료 */
.course .inner .right .popup {
    width: 350px;
    height: 173px;
    position: relative;
    padding: 0 15px;
    top: 5px;
    color: #999;
    left: 5%;
    background-color: rgba(26, 26, 26, 0.8);
    box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
    display: none;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;

}

.course .inner .right .popup > div:nth-of-type(3) {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: rgba(131, 129, 129, 0.4);

}

.course .inner .right .popup>span:nth-of-type(1) {
    font-size: 1.5rem;
    line-height: 5rem;
    font-weight: 400;
    color: #fff;
    top: 0px;
}


.course .inner .right .popup>span:nth-of-type(1)::before {
    width: 300px;
    height: 1px;
    top: 64px;
    background-color: #999;
    content: "";
    margin: 0 0 0 -45px;
    position: absolute;
}


.course .inner .right .popup .close {
    width: 20px;
    height: 20px;
    line-height: 1rem;
    text-align: center;
    position: absolute;
    top: 11px;
    right: 12px;
    color: #fff;
    font-size: 1rem;
    background-color: rgb(240, 14, 228);
    border-radius: 50%;
    cursor: pointer;
}


.course .inner .right .c03>form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.course .inner .c03 p {
    margin: 0 0 0 490px;
}

.course .inner .right form>p {
    margin: 0 10px 0 0;
}

.right form>p>input {
    margin: 0 0 0 9px;
}

.course .inner .right>.bottom {
    background: #EFBA26;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    color: #fff;
}


.course .inner .bottom span {
    margin: 0 80px 0 0;

}


.course .inner .bottom>span:nth-child(1) {
    padding: 3px 17px;
    background: #999;
    border-radius: 3px;
}

.course .inner .bottom>span:nth-child(2),
.course .inner .bottom>span:nth-child(3) {
    font-size: 2rem;
    font-weight: 500;
}

.course .inner .bottom>span:nth-child(2) {
    position: relative;

}


/* ---------------여기부터 news------------------- */
section.news {
    width: 100%;
    height: 950px;
    background: url(../cj_night-image/청녕각.jpg) 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    /* background: #443489; */
}

section.news::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(68, 52, 137, 0.95);
    content: "";
    z-index: 1;
}

section.news h2 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.4rem;
    color: #FFF;
    padding: 80px 0 30px;
    position: relative;
    z-index: 10;
    text-align: center;
}

section.news .mySwiper4 {
    width: 60%;
    height: 655px;
    box-sizing: border-box;
    margin: 0 20%;
    z-index: 3;
    /* height: 700px; */
}

.mySwiper4 .swiper-wrapper {
    align-items: center;

}

/* ......같은 이름인것같은데 다르게 적용되던거! 배경색을 텍스트에 줬어야함  ...... */
section.news .swiper-slide {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    font-size: 1.9rem;
    color: #FFF;
    line-height: 1.2;
    font-weight: 600;
}

section.news .swiper-slide:nth-child(3n-1) {
    top: -50px;
}

.mySwiper4 .swiper-slide .photo {
    width: 100%;
    height: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.mySwiper4 .img01 .photo {
    background: url(../cj_night-image/main.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.mySwiper4 .img02 .photo {
    background: url(../cj_night-image/thumbnail01.jpg)50% 50% no-repeat;
    background-size: cover;
}

.mySwiper4 .img03 .photo {
    background: url(../cj_night-image/thumbnail02.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.mySwiper4 .img04 .photo {
    background: url(../cj_night-image/thumbnail10.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.mySwiper4 .img05 .photo {
    background: url(../cj_night-image/thumbnail04.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.mySwiper4 .img06 .photo {
    background: url(../cj_night-image/thumbnail05.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.mySwiper4 .img07 .photo {
    background: url(../cj_night-image/thumbnail06.jpg)50% 50% no-repeat;
    background-size: cover;
}

.mySwiper4 .img08 .photo {
    background: url(../cj_night-image/thumbnail07.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.mySwiper4 .img09 .photo {
    background: url(../cj_night-image/thumbnail08.jpg) 50% 50% no-repeat;
    background-size: cover;
}


.mySwiper4 .swiper-slide .text {
    width: 100%;
    height: 146px;
    flex-direction: column;
    background: #606060;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.mySwiper4 .swiper-slide:nth-child(even) .text {
    background: #231916;
}

.mySwiper4 .swiper-slide .text .title {
    font-size: 1.3rem;
    color: #FFF;
    line-height: 1.2;
    font-weight: 600;
    display: block;
    margin: -10px auto 0;
    word-break: break-all;
}

.mySwiper4 .swiper-slide .text .content {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 20px 0 0 0;
    display: block;

}

.news .swiper-button-next,
.news .swiper-button-prev {
    margin: 0 14% 0;
}

.news .swiper-button-next,
.news .swiper-button-prev {
    width: 65px;
    height: 65px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    color: #fff;
    padding: 0 6px 0 0;
    z-index: 3;

}

.news .swiper-button-next {
    padding: 0 0 0 6px;

}

.swiper-button-next::after,
.swiper-container-rtl .swiper-button-prev::after {
    content: 'next';

}


.news .swiper-pagination-bullet {
    background: #fff;
}

/* 여기서부터 배너 */

.banner {
    width: 100%;
    height: 100px;   
    position: relative;  
    background: rgb(68, 52, 137);
}

.banner::before {
    position: absolute;
    width: 100%;
    top: -620px;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    z-index: 1;
    background: url(../image/ban-wh.png) 50% 0% no-repeat;
    background-size: cover;

}

.banner .inner{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.banner .inner h4 {
    font-size: 1.5rem;
    color: rgb(226, 226, 226);
    background: #010f1b;
    margin: -11px 0 0 50px;
    height: 45px;
    padding: 3px 18px;
    line-height: 2.9rem;
    text-align: center;
    z-index: 2;
}

.banner .inner .bt-wrap {
    width: 67%;
    height: 83px;
    margin: -30px 61px 0 0;
    background: #fff;
    box-shadow: 0 3px 5px rgb(196 196 196);
    border-radius: 3px;
    z-index: 1;
    display: block;
   
}

.banner .inner .bt-wrap .swiper-container {
    width: 91%;
    margin: 23px auto;
}

.banner .inner .bt-wrap .swiper-container .swiper-slide {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
}

/* .banner .inner .bt-wrap .swiper-container .swiper-slide image {
    object-fit: cover;
    top: 5px;
} */

.bt-wrap >.swiper-button-prev,
.bt-wrap >.swiper-button-next {
    width: 65px;
    height: 65px;
    color: #7c12df;
    font-size: 1rem;
    top: 14px;
    z-index: 10;
   display: none;
}

.mySwiper5>.swiper-button-prev,
.mySwiper5>.swiper-button-next {
    width: 65px;
    height: 65px;
    color: #7c12df;
    font-size: 1rem;
    top: 14px;
    z-index: 10;

}

.mySwiper5>.swiper-button-prev {
    left: -18px;
    
}

.mySwiper5>.swiper-button-next {
    right: -18px;
}


footer {
    height: 180px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.3;
    font-weight: 400;
    color: #606060;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* footer::after{
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: #666;
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;

} */

footer .web-logo {
    flex-direction: row;
    align-items: center;
}

footer .web-logo>img {
    width: 40px;
    position: relative;
    top: 22px;
    left: -7px;
}


footer .center {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    margin-left: -159px;
}

footer span {
    top: -35px;
    font-weight: 300;
    font-size: 1.3rem;
}

footer .sns {
    top: -28px;
    right: 145px;
    position: relative;
}

footer .sns>span:nth-of-type(1) > a {
    display: block;
    padding: 0 0 13px 42px;
    text-decoration: none;
    background: url("../svg/유튭인스타흑백.svg") 0px 0 no-repeat;
    background-size: 111px 42px;
    margin: 15px 0 0 0;
    /* ----text-indent:-9999px; 기능저하 대체법 */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
footer .sns > .insta > a {
    display: block;
    padding: 0 0 13px 42px;
    text-decoration: none;
    background: url(../image/insta.png) 0 0 no-repeat;
    background-size: 38px 38px;
    margin: 15px 0 0 10px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

footer .logolast {
    width: 90px;
    position: absolute;
    height: 90px;
    opacity: 0.07;
    top: 51px;
    left: 16%;
    display: block;
    background: url(../image/circlelogo.png) 0 0 no-repeat;
    background-size: contain;
}

footer .txtt {
    top: -5px;
    position: relative;
    
    /* padding: 0 0 0 5px;
    margin: 0 auto;
    display: block; */
}

footer .txtt ul {
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1.2rem;
    margin-left: 100px;
}

footer .txtt ul li {
    color: #787878;
    position: relative;
    padding: 15px 20px 15px 0;
    cursor: pointer;
}

footer .txtt ul li::after {
    width: 1px;
    height: 30px;
    position: absolute;
    top: 14px;
    right: 8px;
    content: "";
    background: rgba(177, 60, 227, 0.1);
}

footer .txtt ul li:last-child:after {
    display: none;
}

footer select {
    color: rgb(91, 91, 91);
    height: 30px;
    width: 200px;
    margin: 23px 0 0 20px;
    background: none;
    border: 1px solid #ddd;
}