@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
/* font-awsome v5.10 */
@import url('animation.css');
/* animation */




* { box-sizing: border-box;
 /* outline: 1px solid rgb(241, 201, 113); */}
body{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* html {
    position: relative;
    height: 100vh;
} */
/****** 풀페이지 스크롤링 ******/
.swiper-container.mySwiper{
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    position: relative;
    
}
.swiper-container.mySwiper > .swiper-slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
:root {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    z-index: 100;
    display: block;
    width: 10px;
    height: 10px;
}

body {
    width: 100%;
    height: 100vh;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    -moz-osx-font-smoothing: grayscale;
}

.sec01 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    /* perspective: 330px; */
    background: url(../image/back1.jpg) 0 0% no-repeat;
    background-size: cover;
    background-color: #fff;
}

.sec01>span:nth-of-type(1) {
    font-size: 1.9rem;
    font-weight: 600;
    top: 10px;
    left: 10px;
    position: absolute;
    color: #fff;
    width: 900px;
}

.sec01>div:nth-of-type(1) {
    font-size: 1.9rem;
    font-weight: 600;
    top: 10px;
    right: 10px;
    position: absolute;
    color: #fff;
    width: 900px;
}

.sec01 .crescendo {
    position: absolute;
    top: 220px;
    /* left: 50%; */
    width: 650px;
    height: 70px;
    background: url(../image/크레센도.png) 0 0 no-repeat;
    background-size: contain;
    z-index: 1;
    display: block;
}

.guide .tri {
    position: absolute;
    width: 0;
    top: 58vh;
    left: 48%;
    margin: 0 auto;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 15px solid transparent;
    border-top: 32px solid #EFBA26;
    border-bottom: none;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    animation: rotate 2s infinite;
    transform-origin: center center;
}

/* 레벨 1 */
.guide .font {
    top: 55vh;
    left: 51%;
    font-family: 'PFStardust';
    line-height: 100px;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    position: absolute;
}

.sec01 .intro {
    font-size: 2.1rem;
    font-weight: 400;
    color: #202A75;
    top: 308px;
    margin: 0px auto 0;
    position: absolute;
    text-align: center;
}

.sec01 .intro>span {
    font-weight: 600;
}


.sec02 {   
    width: 100%;
    height: 100vh;   
}

.swiper-container.swiper_h {
    width: 100%;
    height: 100vh;
    background: #fff;
    color: #222;
}

.swiper_h .swiper-slide{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;   
}

.swiper_h .swiper-slide:nth-child(1){
    background: url(../image/back2.png) 0 0 no-repeat;
    background-size: cover;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .shark {
    width: 200px;
    height: 70px;
    display: block;
    position: absolute;
    background: url(../image/shark.png) 0 0 no-repeat;
    background-size: cover;
    z-index: -1;
    transform: translate(-390px, 450px);
}


.sec02 .swiper_h .swiper-slide:nth-child(1) .ice {
    width: 30px;
    height: 70px;
    display: block;    
    background: url(../image/ice.png) 0 0 no-repeat;
    z-index: 10;
    transform: translate(161px, 406px) rotate(5deg);
}

.sec02.on .swiper_h .swiper-slide:nth-child(1) .ice{
    animation: ice 7s 1;
    animation-fill-mode: forwards;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .fish {
    content: "";
    width: 234px;
    /* bottom: 10px;
    right: -800px; */
    height: 54px;
    display: block;    
    background: url(../image/fish.png) 0 0 no-repeat;
    z-index: 50;
    transform: translate(826px, 420px);
}

.sec02.on .swiper_h .swiper-slide:nth-child(1) .fish  {
    animation: fish 7s 1;
    animation-fill-mode: forwards;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .bigice {
    width: 30px;
    height: 70px;
    display: block;    
    background: url(../image/bigice.png) 0 0 no-repeat;
    background-size: cover;
    z-index: 10;
    transform: translate(-120px, 301px) rotate(45deg);
}

.sec02.on .swiper_h .swiper-slide:nth-child(1) .bigice {
    animation: bigice 7s 1;
    animation-fill-mode: forwards;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap {
    display: flex;
    width: 100%;
    height: 80%;
    top: 200px;
    left: 80px;
    position: absolute;
    justify-content: space-between;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap .left,
.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap .right {
    display: flex;
    flex-direction: column;
    width: 40%;
    /* background-color: cadetblue; */
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap .right {
    width: 37%;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap .right .usedtool {
    display: flex;
    flex-direction: column;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap .right .usedtool .tool {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: beige; */
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .adobelogo {
    display: flex;
    width: 28%;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .adobelogo>div:first-child {
    width: 45px;
    height: 45px;
    margin-right: 14px;
    background: url(../svg/vs.svg) 0 0 no-repeat;
    background-size: cover;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .adobelogo>div:last-child {
    width: 45px;
    height: 45px;
    background: url(../svg/fig.svg) 0 0 no-repeat;
    background-size: contain;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap .left .usedtool .tool .content {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap .left .usedtool .tool .content>div {
    margin: 20px 20px 0 0;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap .left .usedtool .tool .content .point {
    width: 50px;
    height: 25px;
    line-height: 1.8rem;
    background: #EFBA26;
    color: #000;
    text-align: center;
    margin-top: 23px;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap .left .usedtool .else {
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    top: 10px;
    position: relative;
    flex-direction: column;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap .left .usedtool .adobelogo2 {
    width: 170px;
    height: 50px;
    margin: 0;
    position: relative;
    left: 0;
    top: 6px;
    background: url(../svg/adobelogo.svg) 0 0 no-repeat;
    background-size: contain;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap .left .usedtool .else>div {
    margin-right: 5px;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .circlegroup {
    display: flex;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .circlegroup .circle {
    width: 110px;
    height: 110px;
    margin: 80px 0 0 0;
    border-radius: 50%;
    background: #1abcfe;
    margin-right: -5px;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    line-height: 8rem;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .circlegroup .copy {
    margin: 218px 0 0 0px;
    position: absolute;
    font-size: 1.5rem;
    color: #b0b7bd;
    font-weight: 500;
    line-height: 2rem;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .circlegroup .copy::before,
.sec02 .swiper_h .swiper-slide:nth-child(1) .circlegroup .copy::after{
    font-size: 1.5rem;
    color: #ddd;
    position: relative;
    top: -10px;
    /* 위로 조금 올라가라고 -10줬음
    가상요소로 설정해서 엘리먼트 안줬기땜에 i나 span이 아니다.. */
}
.sec02 .swiper_h .swiper-slide:nth-child(1) .circlegroup .copy::before{ content: "\f10d"; }
.sec02 .swiper_h .swiper-slide:nth-child(1) .circlegroup .copy::after{ content: "\f10e"; }

.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap .title {
    /* width: 300px; */
    margin: 50px 0 8px 0;
    text-align: start;
    font-size: 2.3rem;
    font-weight: 600;
    color: #9d37f9;
    /* background-color: #9d37f9; */
}

/* ---------------- */
.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap.type-js {
    width: 304px;
    top: 250px;
    position: absolute;
    left: 40%;
}

.swiper_h .swiper-slide:nth-child(1) .bt {
    width: 280px;
    height: 40px;
    z-index: 110;
    padding: 0 0 0 15px;
    line-height: 2.5rem;
    position: absolute;
    opacity: 0;
    display: block;
    margin: 10px 0% 0 7%;
    border-radius: 16px;
    border: 2px solid #0d1e78;
    color: #0d1e78;
    text-align: left;
    background-color: transparent;
}
.sec02.on .swiper_h .swiper-slide:nth-child(1) .bt {
    animation: tingLeft .5s 2.2s 1;
    animation-fill-mode: forwards;
}
.sec02.on .swiper_h .swiper-slide:nth-child(1) .bt:hover::after{
   width: 15px;
   height: 15px;
   background-color: #450be2;
   border-radius: 50%;
   content: "";
   display: block;
   z-index: 110;
   opacity: .7;
   margin: -25px 0px 0 237px;
   
}

.swiper_h .swiper-slide:nth-child(1) .bt .arrowline {
    width: 40px;
    height: 1px;
    z-index: 110;
    position: absolute;
    top: 18px;
    left: 219px;
    opacity: 0;
    background-color: #0d1e78;
}

.sec02.on .swiper_h .swiper-slide:nth-child(1) .bt .arrowline {
    animation: tingLeft .5s 2.2s 1;
    animation-fill-mode: forwards;    
}

.swiper_h .swiper-slide:nth-child(1) .bt .arrowline::after {
    width: 15px;
    height: 1px;
    z-index: 110;
    display: block;
    position: absolute;
    top: -3px;
    left: 24px;
    background-color: #0d1e78;
    content: "";
    transform: rotate(-153deg);
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap h2 {
    white-space: nowrap;
    overflow: hidden;
    border-right: .15rem solid #9d37f9;
    font-size: 2rem;
    font-family: 'IM_Hyemin-Bold';
}

.sec02.on .swiper_h .swiper-slide:nth-child(1) .wrap h2 {
    animation: blink-caret .5s 2s step-end infinite;
}

.sec02 .swiper_h .swiper-slide:nth-child(1) .wrap.type-js h2.text-js {
    color: #0d1e78;
    font-size: 2rem;

}

.sec02.on .swiper_h .swiper-slide:nth-child(1) .wrap.type-js h2.text-js {
    animation: blink-caret .5s 2s step-end infinite;

}

.sec02.on .swiper_h .swiper-slide:nth-child(1) .wrap .left {
    opacity: 0;
    animation: fadeInDown 1.5s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.sec02.on .swiper_h .swiper-slide:nth-child(1) .wrap .right {
    opacity: 0;
    animation: fadeInDown 1.5s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* --------------- */

.swiper_h .swiper-slide:nth-child(1) .edu .title,
.swiper_h .swiper-slide:nth-child(1) .license .title {
    margin: 50px 0 8px 0;
}

.swiper_h .swiper-slide:nth-child(1) .bora>div {
    margin: 0 auto 0;
    text-align: start;
    font-size: 1.3rem;
    font-weight: 500;
    color: #c7c7c7;
}

.order {
    position: absolute;
    top: 20px;
    left: 34px;
    z-index: 10;
    font-family: 'IM_Hyemin-Bold';
}

.sec03 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    /* background-color: #fff; */
}

/* 여기 문제? */
.sec03 .b01 {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 250px;
    left: 50px;
    text-align: left;
    font-size: 1.3rem;
    /* background: rgb(204, 197, 197); */
}

.sec03 .b01 .title {
    line-height: 4rem;
    font-size: 2.3rem;
    font-weight: 500;
    /* background: rgb(204, 197, 197); */
}

.sec03 .img {
    top: 250px;
    right: 10%;
    width: 50%;
    height: 50vh;
    background: url(../gallery/sec03.png) 100% 50% no-repeat;
    background-size: contain;
    position: absolute;
    opacity: 0;
}

.sec03.on .img {
    animation: fadeInRight 1.5s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.sec03 .button>a{
    width: 180px;
    height: 40px;    
    z-index: 100;
    line-height: 2.5rem;
    position: absolute;
    background-color: #0d1e78;
    color: #fff;
    cursor: pointer;
    top: 487px;
    left: 50px; 
    text-decoration: none;   
}

.sec03 .button>a:hover{
    border-radius: 16px; 
    border:2px solid #0d1e78;
    color: #0d1e78;
    background-color: #fff;   
}


.sec03 .button >a:nth-of-type(2){
    width: 180px;
    height: 40px;    
    z-index: 100;
    line-height: 2.5rem;
    position: absolute;
    background-color: #0d1e78;
    color: #fff;
    cursor: pointer;
    top: 487px;
    left: 250px;
    text-decoration: none;
}
.sec03 .button >a:nth-of-type(2):hover{
    border-radius: 16px; 
    border:2px solid #0d1e78;
    color: #0d1e78;
    background-color: #fff;
}

.sec03 .colorgr {
    display: flex;
    top: 560px;
    left: 50px;
    position: absolute;
}

.colorgr .maincolor {
    width: 100px;
    height: 80px;
    margin-right: 20px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    /* background: linear-gradient(to bottom right, #ee16ce, #cc00ad); */
    background: #cc00ad;

}

.colorgr .maincolor:nth-child(2) {
    /* background: linear-gradient(to bottom right, #5131cf, #291385); */
    background: #291385;
}

.colorgr .maincolor:nth-child(3) {
    /* background: linear-gradient(to bottom right, #2f3e83, #212848); */
    background: #212848;
}

.colorgr .maincolor::after {
    content: "#cc00ad";
    width: 100%;
    display: block;
    top: 80px;
    height: 55px;
    color: #000;
    position: relative;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #dadada;
}

.colorgr .maincolor:nth-child(2)::after {
    content: "#291385";
}

.colorgr .maincolor:nth-child(2)::after {
    content: "#212848";
}

.colorgr .subcolor {
    width: 100px;
    height: 80px;
    margin-right: 20px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    /* background: linear-gradient(to bottom right, #f6c43b, #efba26); */
    background:#efba26;
}

.colorgr .subcolor.b1 {
    /* background: linear-gradient(to bottom right, #888888, #999999); */
    background:#999999;

}


.colorgr .subcolor::after {
    content: "#efba26";
    width: 100%;
    display: block;
    top: 80px;
    height: 55px;
    color: #000;
    position: relative;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #dadada;
}

.colorgr .subcolor.b1::after {
    content: "#999999";
}

.sec04 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    /* background-color: #fff; */
    position: relative;
}
.sec04 .b01 {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 230px;
    left: 50px;
    text-align: left;
    font-size: 1.3rem;
    /* background: rgb(204, 197, 197); */
}
.sec04 .b01 .title {
    line-height: 4rem;
    font-size: 2.3rem;
    font-weight: 500;
    /* background: rgb(204, 197, 197); */
}

.sec04 .button > a {
    width: 180px;
    height: 40px;
    top: 390px;
    left: 50px;
    line-height: 2.5rem;
    position: absolute;
    background-color: #0d1e78;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.sec04 .button > a:hover{border-radius: 16px; 
border:2px solid #0d1e78;
color: #0d1e78;
background-color: #fff;   }

.sec04 .colorgr {
    display: flex;
    top: 480px;
    left: 50px;
    position: absolute;

}

.sec04 .colorgr .maincolor {
    width: 100px;
    height: 80px;
    margin-right: 20px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background: #0bb09b;
}
.sec04 .colorgr .subcolor {
    width: 100px;
    height: 80px;
    margin-right: 20px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background: #666;
}
.sec04 .colorgr .subcolor.b1 {
    width: 100px;
    height: 90px;
    margin-right: 20px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background: #606e80;
}
.sec04 .img2{
    width: 40%;
    height: 905px;
    right: 20px;
    background: url(../gallery/pojectB.png) 50% 0 no-repeat;
    background-size: contain;
    position: absolute;
}
.sec04 .img2a{
    width: 33%;
    right: 34%;
    height: 487px;
    background: url(../gallery/pojectB-m.png) 50% 0 no-repeat;
    background-size: contain;
    position: absolute;
    border: 8px solid #304e1e;
}
/* .sec04 .ract{
    width: 640px;
    height: 410px;
    top: 274px;
    position: absolute;
    border: 8px solid #304e1e;
} */

.sec04 .img2a::after{
    width: 120px;
    height: 120px;
    top: -174px;
    left: -100px;
    background: url(../image/dot.png) 0 0 no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    display: block;
    z-index: 40;
}
.sec04 .img2a::before{
    width: 932px;
    height: 196px;
    bottom: -222px;
    left: -430px;
    background: url(../svg/tree.svg) 0 0 no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    /* display: block; */
    z-index: 40;
}



/* -------------------------------------------------------- */
.sec05 {
    width: 100%;
    height: 100vh;
  /* background-color: #fff; */

}

.sec05 .img3a{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: url(../image/Artboard1-100.jpg);
    background-size: cover;

}
.sec05.on .img3a{
    opacity: 0;
    animation: fadeInUp 1.5s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.sec05 .img3a a{
    width: 93%;
    height: 90vh;
    top: 63px;
    left: 50px;
    z-index: 100;
    line-height: 3rem;
    position: absolute;
    color: #fff;
    cursor: pointer;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet{   
    width: 9px;
    height: 9px;
    background-color: #5d0ca8;
    z-index: 200;
    display: block;
}


/* ------프로그래스 바-------- */

.sec01 .big2 {
    width: 900px;
    height: 300px;
    right: 0%;
    display: none;
    position: relative;
    /* background-color: #999; */
}

.nbar {
    display: none;
}
.sec01 .big2 .wrap{
display: block;
width: 100%;
height: 80%;
top: 32px;
left: 128px;
position: absolute;

}

.rightbox1 {
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: row;
}

.bfont1 {
    font-size: 1.1rem;
    width: 300px;
    left: 165px;
    /* top: 370px; */
    position: relative;
}

.bfont1>p {
    color: #225cff;
    font-size: 1.6rem;
    text-align: left;
}



.sec01 .progress-bar {
    position: relative;
    width: 400px;
    height: 20px;
    margin: 0 auto 35px;
    border: 1px solid #225cff;
    border-radius: 30px;
    
}

.sec01 .bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background: #225cff;
    border-radius: 30px;
}

.sec01 .a {
    position: absolute;
    top: -133%;
    bottom: 0;
    right: 137px;
    font-size: 1.6rem;
    color: #225cff;
    line-height: 30px;
    opacity: 0.7;
}

.sec01 .b {
    position: absolute;
    top: -133%;
    bottom: 0;
    right: 98px;
    font-size: 1.6rem;
    color: #225cff;
    line-height: 30px;
    opacity: 0.7;
}

.sec01 .c {
    position: absolute;
    top: -133%;
    bottom: 0;
    right: 91px;
    font-size: 1.6rem;
    color: #225cff;
    line-height: 30px;
    opacity: 0.7;
}

h4 {
    display: none;
}
